<h3>Recent Activities</h3>
<ul class="activity">
  <li>
    <i class="icon-envelope"></i> <strong>John</strong> mailed you on 09/12/2013.
  </li>
  <li>
    <i class="icon-share-alt"></i> <strong>Cylinder Case</strong> is shared with <strong>David</strong>.
  </li>
  <li>
    <i class="icon-remove"></i> <strong>Volvo Case</strong> has been removed.
  </li>
  <li>
    <i class="icon-time"></i> <strong>Cliff for Cylinder Case</strong> run at <strong>09/12/2013 12:00:12</strong>.
  </li>
  <li>
    <i class="icon-plus"></i> <strong>Cliff for Cylinder Case</strong> has been added.
  </li>
  <li>
    <i class="icon-plus"></i> <strong>Cylinder Case</strong> has been added.
  </li> 
</ul>